<main class="contenedor">
    <form action="/editarPerfil" method="POST" class="default-form"  enctype="multipart/form-data">
        <div class="campo">
            <label for="">Imagen</label>
            <input type="file" name="imagen">
        </div>
        <div class="campo">
            <img src="/uploads/perfiles/{{usuario.imagen}}" alt="" srcset="" class="">
        </div>
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre" value="{{usuario.nombre}}">
        </div>
        <div class="campo">
            <label for="">E-Mail</label>
            <input type="text" name="email" placeholder="Tu correo electronico" value="{{usuario.email}}">
        </div>
        <div class="campo">
            <label for="">Contraseña</label>
            <input type="text" name="password" placeholder="Tu contraseña">
        </div>
        
        <div class="campo">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>