<main class="contenedor">
    <form action="/iniciarSesion" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Tu E-mail">
        </div> 
        <div class="campo">
            <label for="contraseña">Constraseña</label>
            <input type="password" name="password" placeholder="Tu contraseña">
        </div>
        <div class="campo acciones">
            <a class="hoverAction" href="/crearCuenta">Crear Cuenta</a>
            <a class="hoverAction" href="/reestablecerPassword">Reestablacer contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>