<main class="contenedor">
    <form action="" class="default-form">
        <h3>Información general</h3>

        <div class="campo">
            <label for="">Titulo</label>
            <input type="text" name="titulo" placeholder="Titulo vacante">
        </div>
        <div class="campo">
            <label for="">Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa vacante">
        </div>
        <div class="campo">
            <label for="">Ubicacion</label>
            <input type="text" name="ubicacion" placeholder="Ubicación vacante">
        </div>
        <div class="campo">
            <label for="">Salario (USD)</label>
            <input type="number" name="salario" placeholder="Salavio vacante" min="0">
        </div>
        <div class="campo">
            <label for="">Contrato</label>
            <select name="contrato">
                <option value="" disable selected>-- Selecciona --</option>
                <option value="Freelancer">Freelancer</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
                <option value="Medio Tiempo">Medio Tiempo</option>
                <option value="Por Proyecto">Por Proyecto</option>
            </select>
        </div>

        <h3>Descripción del puesto</h3>
    </form>

</main>