<main class="conenedor">
    <form action="/reestablecerPassword" method="post" class="default-form">
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Tu correo electronico">
        </div>
        <div class="campo acciones">
             <a class="hoverAction" href="/iniciarSesion">Volver a iniciar sesión</a>
            <a class="hoverAction" href="/crearCuenta">Crear Cuenta</a>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Reestablecer contraseña">
        </div>
    </form>
</main>